:root{
    --primary-color:orange;
    --second-color:chocolate;

}

/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 1em;
    position: relative;
    color: #333;
}
.menu ul li:hover{
    color: #fff;
    background-color: var(--primary-color);
    
}
.menu ul li a{
   color: #333;
    text-decoration: none;
}
.menu ul li ul{
    display: none;
    position: absolute;
    width: 200px;
    left: 0;
    margin-top: 1rem;
}
.menu ul li:hover ul{
    display: block;
}
.menu ul li ul li{
    display: block;
    background-color: #e7e7e7;
}
.menu ul li ul li:hover{
    background-color: #e2e2e2;
}
.menu ul li ul li span{
    padding: 0.2rem 0.5rem;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    float: right;
    border-radius: 5px;
}
.menu ul li ul li:hover span{
    background-color: var(--second-color);
}

#banner{
    display: flex;
    flex-direction: column;
    flex: none;
    width: 100%;
    height: 300px;
    padding: 0 3rem;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
}
#banner h1{
    font-size: 2rem;
    color: #fff;
}
@media(max-width:600px){
    .menu ul li{
        display: block;
    }
    .menu ul li ul{
        width: 100%;
        position: relative;
    }
}